<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        //Redes sociales

    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2022 </strong> Todos los derechos reservados.
</footer>