@{
    ViewData["Title"] = "Polityca de Privacidad";
}
<h3>@ViewData["Title"]</h3>

<div class="wrapper">
    <div class="content-wrapper">
        <p>La Ley 1581 de 2012 prohíbe la transferencia de datos personales de cualquier tipo a países que no proporcionen niveles adecuados de protección de datos. Esta prohibición NO REGIRÁ cuando se trate de: Información respecto de la cual el Titular haya otorgado su autorización expresa e inequívoca para la transferencia. </p>
        <p>
            Jose Uduan Hurtado
        </p>
    </div>
</div>