@model List<Microsoft.AspNetCore.Identity.IdentityRole>
<div class="container mt-5">
    <div class="row mt-5">
        <div class="mx-auto mt-5">
            <div class="col-lg-12 shadow p-3">
                <h1>Roles</h1>
                <hr />
                <a asp-action="Create" asp-controller="Role" class="btn btnprimary btn-sm">Nuevo</a>
                <br /> <br />
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Nombre
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    <a class="btn btn-outline-danger btn-sm" asp-route-role="@item.Name" asp-action="RemoveRole" onclick="return confirm('¿Quieres eliminar este Rol?')">Eliminar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

