@model RegistroUsuarios

  
@{ 
    ViewData["Title"] = "Registro de usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper">
    <center>
        <div class=" content-wrapper bg-white d-flex justify-content-center align-items-center">
            <div class="col-md-5 p-3 shadow">
                <h2 style="margin-left:20px;">Registro de usuarios</h2>
                <form asp-controller="Cuentas" asp-action="Registro" method="post">
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>

                    <div class=" form-group">
                        <label asp-for="Nombre" class="col-md-2"></label>
                        <div class="col-md-10">
                            <input asp-for="Nombre" class="form-control" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>
                    </div>

                    <div class=" form-group">
                        <label asp-for="Documento" class="col-md-2"></label>
                        <div class="col-md-10">
                            <input asp-for="Documento" class="form-control" />
                            <span asp-validation-for="Documento" class="text-danger"></span>
                        </div>
                    </div>

                    <div class=" form-group">
                        <label asp-for="Email" class="col-md-2"></label>
                        <div class="col-md-10">
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class=" form-group">
                        <label asp-for="Password" class="col-md-2"></label>
                        <div class="col-md-10">
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>

                    <div class=" form-group">
                        <label asp-for="ConfirPassword" class="col-md-2"></label>
                        <div class="col-md-10">
                            <input asp-for="ConfirPassword" class="form-control" />
                            <span asp-validation-for="ConfirPassword" class="text-danger"></span>
                        </div>
                    </div>

                    <div class=" form-group">
                        <div class="col-md-10">
                            <button type="submit" class="btn btn-outline-info">Registrarse <i class="bi bi-arrow-right-square-fill"></i></button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </center>
</div>

        @section Scripts{
            @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }

